<h1 class="red mb-4">About Annia's Online Dating App</h1>
<h4>This website was created by the student <b>Antonia Kollia-Nika</b><br>for  UNIWA "E-commerce" class of 2021. <br>It was created using Node.js, Express and MongoDB. <br><br></h4>
<h5><i>Support the effort!<br>Thank you!</i></h5>