.center {
    text-align: center;
}

.form-group,
.m {
    margin: 10px;
}

.green {
    color: green;
}

.red {
    color: red;
}

.fa-edit {
    cursor: pointer;
}

#create_acc {
    text-decoration: none;
}